{
  "$schema": "https://swc.rs/schema.json",
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "esnext",
    "minify": {
      "format": {
        "comments": "all"
      }
    }
  },
  "module": {
    "type": "commonjs",
    "strictMode": true
  },
  "sourceMaps": true,
  "plugin": {}
}
