#title {
  font-size: large;
  font-weight: bold;
  color: #000;
  height: 30px;
}

.container {
  margin: 0px !important;
  min-height: 0px !important;
  width: 100% !important;
  max-width: none !important;
}

.mybox {
  padding: 0px;
  margin: 0px;
}

body > div.mainbox {
  margin: 0px;
  max-width: none;
  .maincont {
    padding: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  body > div.container > div.mybox {
    background: #252525;
    color: #d6d6d6;
  }
  body > div.container > div.mybox > div.page1 {
    border: 0;
    background: #252525;
    a:hover {
      background: #3d3737;
    }
  }
  #title {
    color: #d6d6d6;
  }
  #container > div.mybox > div.page1 > a {
    background: #3d3737;
  }
}
